<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loadbalancer Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
      body {background-color: #BGCOLOR;}
      body,html {height: 100%;}
      .rotate { animation: rotation 5s infinite linear;}
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
  </style>
</head>
<body>
  <section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
          <div class="jumbotron text-center" id="maincontent">
            <h1>Terry Cox Narrates My Dreams</h1>
            <img class="rotate" src="terrynoback.png">
          </div>
        </div>
      </div>
    </header>
  </section>
</body>